<div>
  <div fxLayout="column" class="container">
    <div class="controls">
      <img class="video-thumbnail" src="{{ video.snippet.thumbnails.medium.url }}" alt="{{ video.snippet.title }}" />

      <div class="control" fxLayout="column" fxLayoutAlign="center center" (click)="playVideo(video)">
        <md-icon>play_arrow</md-icon>
      </div>
    </div>

    <div class="contents" fxFill fxLayout="column" fxLayoutAlign="start start">
      <h4>{{ video.snippet.title }}</h4>

      <h5>{{ video.snippet.publishedAt | amTimeAgo }}</h5>
    </div>
  </div>
</div>
