<div class="container"
  [class.queue]="type === videoThumbnailType.Queue"
  [class.active]="isActive()"
  (click)="activateVideo()"
  fxLayout="column"
>
  <div class="video-thumbnail">
    <img src="{{ video.snippet.thumbnails.medium.url }}" alt="{{ video.snippet.title }}" />

    <div class="controls"
      *ngIf="type === videoThumbnailType.Channel"
      fxLayout="row"
      fxLayoutAlign="space-around center"
    >
      <div class="control"
        fxLayout="column"
        fxLayoutAlign="center center"
        (click)="add()"
        mdTooltip="Toista video"
        mdTooltipPosition="above"
      >
        <md-icon>play_arrow</md-icon>
      </div>
    </div>
  </div>

  <div class="contents"
    *ngIf="type === videoThumbnailType.Channel"
    fxFill
    fxLayout="column"
    fxLayoutAlign="start start"
  >
    <h4>{{ video.snippet.title }}</h4>

    <h5>{{ video.snippet.publishedAt | amTimeAgo }}</h5>
  </div>
</div>
