@import '../mixins';

header {
  order: 1;
  flex-shrink: 0;
}

.side-nav {
  background-color: $backgroundSectionLight;
}

article {
  order: 1;
  flex: 1;
  overflow: auto;
  border-left: 1px solid $colorBorderLight;
  border-bottom: 1px solid $colorBorderLight;
}

footer {
  order: 2;
  flex-shrink: 0;
  background-color: $backgroundSectionLight;
}