@import '../../../mixins';

.container {
  md-toolbar {
    min-height: 32px;

    md-toolbar-row {
      height: 32px;
    }
  }

  .player {
    z-index: 1000;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
